$background-color: #000;
$foreground-color: #fff;
$button-size: 16px;
$list-width: 300px;

body {
  background-color: $background-color;
  color: $foreground-color;
}

.people-food-app {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1 {
    font-size: 48px;
  }

  ul {
    list-style: none;
  }

  .add-button:disabled {
    cursor: not-allowed;
  }

  .person-food {
    margin: 0 10px;
  }

  .heading {
    margin: 25px auto 10px;
    text-align: left;
    width: $list-width;

    .name-label,
    .food-label {
      border-bottom: 1px solid $foreground-color;
      display: inline-block;
      width: 50%;
    }
  }

  .person-name,
  .food-name {
    display: inline-block;
    width: calc(50% - #{$button-size / 2});
  }

  .person-list {
    margin: 0 auto;
    padding: 0;
    width: $list-width;

    li {
      text-align: left;
    }

    .person-name,
    .food-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .remove-person {
      background: center center no-repeat url('../images/remove.png');
      background-size: $button-size, $button-size;
      border: none;
      color: transparent;
      cursor: pointer;
      height: $button-size;
      width: $button-size;
    }
  }
}
